.about {
    margin: 90px 70px 0px 70px;
}

.about h2 {
    color: #dd383a;
}

.about .row .col-md-6 .about-text p {
    font-size: 18px;
    font-weight: bold;
}

.showcase-img img {
    height: 400px;
    width: 100vw;
}

.vmission .row .col-md-6 .card, .values .card, .core-values .card {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.45);
    border-radius: 5px;
}

.vmission .row .col-md-6 .card h3, .values .card h3, .core-values .card h3 {
    background: #dd383a;
    color: #fff;
    padding: 0.4rem;
}

.vmission .row .col-md-6 .card:hover h3, .values .card:hover h3, .core-values .card:hover h3 {
    background: #0a223d;
    color: #dd383a;
}

.vmission .row .col-md-6 .card .card-body .card-text,
.values .card .card-body .card-text {
    margin-top: -1.1rem;
    font-size: 1.1rem;
}

.core-values .card .card-body .card-text li  {
    font-size: 1.1rem;
}

@media (max-width: 767px) {
    .vmission .row .vision {
        margin-bottom: 1.5rem;
    }
}

/*ACCOMPLISHMENT*/
.accomplishment {
    background: url(../assets/aaron-burden-Xy-F5GptgR8-unsplash.jpg);
    background-size: cover;
    overflow-x: hidden;
    padding: 8rem 0rem 7rem 0rem;
}

.accomplishment .row .col-md-3 i {
    color: #dd383a;
    font-size: 2.8rem;
}

.accomplishment .row .col-md-3 h1, .accomplishment .row .col-md-3 p  {
    font-weight: bold;
    color: #0b2d53;
}

/*OUR TEACHERS*/
.teachers .d-flex  {
    font-size: 30px;
}

.teachers .d-flex span {
    color: #dd383a;
}

.teachers hr {
    margin-top: -0.466rem !important;
	width: 7rem;
    margin: auto;
	border-bottom: 3px solid #1dbb86;
}

.teachers .row {
    margin: 0rem 1.8rem 0rem 1.8rem;
}

.teachers .row .col-md-4 .card {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.432);
    border: none;
    position: relative;
}

.teachers .row .col-md-4 .card img {
    height: 60vh;
}
.teachers .row .col-md-4 .card .card-body {
    background: #dd383a;
}

.teachers .row .col-md-4 .card .links {
    display: flex;
    position: absolute;
    top: 15rem;
    right: 2rem;
}

.teachers .row .col-md-4 .card:hover .links a {
    display: block;
}

.teachers .row .col-md-4 .card .links a {
    margin-right: 5%;
    display: none;
}

.teachers .row .col-md-4 .card .card-body .links a i {
    color: #b11f22;
    font-size: 2rem;
}

/*MEDIA QUERIES*/
@media (max-width: 767px) {
    .testimonial-body > img {
        width: 50vw;
    }
    .about .row .col-md-6 .about-text {
        margin: 1.9rem -2.5rem 0rem -2.5rem !important;
    }
    .about .row .about-text p{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .accomplishment .row .col-md-3 {
        margin-bottom: 25px;
    }
    .teachers .row .col-md-4 {
        margin-bottom: 0.8rem;
    }
    .teachers .row .col-md-4 .card .links a {
        display: block;
    }
    .teachers .row .col-md-4 .card .card-body .links a i {
        color: #01438f;
    }
}

@media (max-width: 400px) {
    .about {
        margin: 35px 20px 0px 25px;
        overflow-x: hidden;
    }
    .about h2 {
        margin: 55px 0px -10px 0px;
        font-size: 20px;
    }
    .showcase-img img {
        margin-bottom: 20px;
        height: 300px;
        width: 100vw;
    }
    .about .row .about-text {
        font-size: 14px;
    }
    .about .row .about-text p {
        margin: -0.5rem 2.5rem 0rem 2.5rem !important;
    }
    /*SERVICES*/
    .services {
        padding: 0px 5% 0px 10%;
    }
    .services h3 {
    font-size: 25px;
    }
    .services .row div i {
        font-size: 30px;
    }
    .services .row .col-md-4 h5 {
        font-size: 14px;
    }
    .services .row .col-md-4 p {
        font-size: 12px;
    }
    /*TESTIMONIAL*/
    .testimonial {
        margin: auto;
        padding: 0 .9rem;
    }
    .testimonial h3 {
        font-size: 20px;
    }
    .testimonial-body {
	padding: 0 1rem .8rem 1rem;
    margin-top: 30px;
	position: relative;
    }
}