.teachers {
    margin: 90px 70px 0px 70px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.teachers h2 {
    color: #dd383a;
}

.teachers .d-flex  {
    font-size: 35px;
}

.teachers .d-flex span {
    color: #dd383a;
}

.teachers hr {
    margin-top: -0.466rem !important;
	width: 7rem;
    margin: auto;
	border-bottom: 3px solid #1dbb86;
}

.teachers .row {
    margin: 0rem 1.8rem 0rem 1.8rem;
}

.teachers .row .col-md-4 .card {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.432);
    border: none;
    position: relative;
}

.teachers .row .col-md-4 .card img {
    height: 60vh;
}

.teachers .row .col-md-4 .card .card-body {
    background: #dd383a;
}

.teachers .row .col-md-4 .card .card-body h5 {
    color: #efefef;
}

.teachers .row .col-md-4 .card .links {
    display: flex;
    position: absolute;
    top: 22rem;
    right: 2rem;
}

.teachers .row .col-md-4 .card:hover .links a {
    display: block;
}

.teachers .row .col-md-4 .card .links a {
    margin-right: 5%;
    display: none;
}

.teachers .row .col-md-4 .card .card-body .links a i {
    color: #b11f22;
    font-size: 2rem;
}

@media (max-width: 814px) {
    .teachers .row .col-md-4 .card .card-body .card-title {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .teachers {
        margin: 5rem 1.3rem 0rem 1.3rem !important;
    }
    .teachers h3 {
        font-size: 25px;
    }
    .teachers .row .col-md-4 {
        margin-bottom: 0.8rem;
    }
    .teachers .row .col-md-4 .card .links a {
        display: block;
    }
    .teachers .row .col-md-4 .card .card-body .links a i {
        color: #01438f;
        font-size: 1.4rem;
    }
}

@media (max-width: 650px) {
    .teachers {
        margin: 5rem 1rem 0rem 1rem !important;
    }
    .teachers .d-flex {
        font-size: 28px;
    }
    .teachers p {
        font-size: 16px;
    }
}

@media (max-width: 430px) {
    .teachers {
        margin: 4rem 0.5rem 0rem 0.5rem !important;
    }
    .teachers .d-flex {
        font-size: 20px;
        font-weight: bold;
    }
    .teachers hr {
        display: none;
    }
    .teachers p {
        font-size: 16px;
    }
}